

.wrapper {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem 79px;
  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  .worker_on_site_info {
    display: flex;
    flex-direction: column;
    gap: 2.25em;

    .txt_header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.8em;

      h3 {
        font-family: Cormorant Garamond;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -1%;
        text-align: center;
        font-variant: small-caps;
        color: #292c3d;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }

      p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 2%;
        text-align: center;
        color: #8c8c8d;
      }
    }

    .worker_on_site_image {
      background-image: url("/worker-working.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 503px;
      width: 100%;
      position: relative;
      transition: all 0.3s ease;
      @media (max-width: 768px) {
        height: 400px;
      }

      .click {
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }

        @media (max-width: 768px) {
          width: 50px;
          height: 50px;
        }
      }

      .youtubeEmbed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
    }

    .worker_on_site_image.videoLoaded {
      background-image: none;

      .click {
        opacity: 0;
        pointer-events: none;
      }

      .youtubeEmbed {
        opacity: 1;
      }
    }
  }
}
