.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 1.5rem 79px;
  @media (max-width: 768px) {
    padding: 1.5rem;
  }
  @media (max-width: 1200px) {
    padding: 1.5rem;
  }
  .product_listing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    @media (max-width: 768px) {
    }

    .top_section_head {
      font-family: Cormorant Garamond;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: -1%;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
    .estate_list {
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      @media (max-width: 768px) {
        gap: 1em;
      }
      @media (max-width: 1200px) {
        gap: 1em;
      }

      .estate_one,
      .estate_two,
      .estate_three {
        background-position: center;
        overflow: hidden;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 472px;
        border-radius: 10px;
        @media (max-width: 768px) {
        }
        .overlay {
          inset: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: linear-gradient(
            90.08deg,
            #00132f 5.56%,
            rgba(68, 82, 96, 0.5) 49.94%,
            rgba(136, 164, 191, 0) 68.66%
          );
          @media (max-width: 768px) {
          }
          .header {
            top: 139px;
            left: 49px;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            position: absolute;
            width: 347px;
            @media (max-width: 768px) {
              width: 250px;
              left: 20px;
            }

            p {
              font-family: Cormorant Garamond;
              font-weight: 400;
              font-style: Regular;
              font-size: 24px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #fff;
              @media (max-width: 768px) {
              }
            }
            .second_para {
              display: flex;
              flex-direction: column;
              gap: 1em;
              @media (max-width: 768px) {
              }
              p {
                font-family: Inter;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0%;
                color: #a8a8a8;
                @media (max-width: 768px) {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .estate_one {
        background-image: url("/building.webp");
      }
      .estate_two {
        background-image: url("/estate.webp");
      }
      .estate_three {
        background-image: url("/field.webp");
      }
    }
  }
}
